<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <img src="assets/image/logo2.png" width="250" height="100" alt="" loading="lazy">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link h5 text-bold font-weight-bolder" routerLink="/" routerLinkActive="Active" >[Home]<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link h5 font-weight-bolder" routerLink="/take-test" routerLinkActive="Active">[Take your Test] <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item p-1">
          <button routerLink="/fetch-report" routerLinkActive="Active" class="btn btn-danger p-2">Get all reports</button>
        </li>
       
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>